<h2>Create New Question</h2>
	<div id="new-question-form">
			<%= erb :"questions/_form", locals: {question: @question, survey: @survey} %>
	</div>
	<div id='add-choice-div'>
		
	</div>
	<div id="finish_survey_link">
		<a href="/surveys">Finish Survey</a>
	</div>