header {
  background-color: #F9F4EB;
  display: inline-block;
  width:100%;
  color: #DA273A;
  padding:0px;
  margin:0px;
  box-shadow: 5px 5px 5px #168986;
}

body {
  background-color: #1EB9BF;
  font-family: 'Futura', sans-serif;
}

a {
  text-decoration: none;
  color: #DA273A;
}

.justright {
  float:right;
}

.justleft {
  float:left;
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  background-color: #bbdde4;
  border-radius: .5em;
  box-shadow: 5px 5px 5px #168986;
}

.container p {
  font-size: 1.5em;
}

.run_survey {
  padding: 0;

}
p.title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.3em;
}

p.small {
  font-size: 1em;
  margin-top: .05em;
}

form {
  padding-top: 1em;
}

img {
  height: 90px;
  bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

th {
  text-align: left;
}

#take_survey {
  text-align: center;
}

.choice {
  color: #126b6b;
}

.notice {
  color: green;
}

.error {
  color: red;
}

.button {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  color: black;
}


ul#navlist {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: right;
  width: 100%;
}

ul#navlist li {
  display: inline;
}

ul#navlist form {
  margin-top: 1.9em;
  font-size: 150%;
  float: right;
  width: 5em;
  padding: 0.2em 1em;
  text-decoration: none;
  border-right: 1px solid #f9f4eb;
  color: #F9F4EB;
}

ul#navlist li a {
  margin-top: 1.9em;
  font-size: 150%;
  float: right;
  width: 5em;
  color: black;
  padding: 0.2em 1em;
  text-decoration: none;
  border-right: 1px solid #f9f4eb;
}