.goalProgress {
	background: #f7f7f7;
	padding: 5px;
	/*float: right;*/
	margin-left: 5px;
	margin-right: 40px;
}
div.progressBar {
	background: #DA273A;
	color: #fff;
	font-size: 12pt;
	font-family: 'Futura', helvetica, arial, sans-serif;
	letter-spacing: -1px;
	font-weight: 700;
	padding: 10px;
	display: block;
	overflow: hidden;
	width: 20px;
}
span.goalAmount {
	display: none;
	text-indent: -9999px;
}

.stats-text {
	display: none;
}

.question {
	font-size: 14pt !important;
}

.stats {
	font-size: 12pt !important;
}

.stats-div {
	margin-left: 25px;
}



