<div class="title">Create choices for <%= @question.body %></div>
<form action="/choices" method="POST">
  <div><input type="text" name="choice[:body]" placeholder="Choice" /></div>
  <div><input type="submit" value="Submit" /></div>
</form>
