<p class="title"><%=@survey.title%></p>

<form id="take_survey" action="/takensurveys" method="post">
  <input type="hidden" name="survey_id" value="<%=@survey.id%>">
  <input type="submit" value="Start survey!">
</form>