<p class="title">Surveys</p>
<div id="survey_list">
  <%@surveys.each do |survey|%>
  <div id="survey_link">
   <a href = "/surveys/<%=survey.id%>/takensurveys/new"><%=survey.title%></a><p class="small">created by <%=survey.creator.username%></p>
 </div>
 <%end%>
</div>