
<h1>Create New Survey</h1>
	<div id="new_survey_form">
		<form action="/surveys" method="POST">
			<%= erb :'surveys/_new_form', locals: {survey: @survey} %>
			<input type="submit" value="Create Survey">
		</form>
	</div>

	<div id="add-questions-div">
		<h2>Add Questions</h2>
			<%= erb :"questions/_form", locals: {question: @question, survey: @survey} %>
	</div>	

	<div id="choices-finish">	
		<div id='add-choice-div'>
		</div>

		<div id="finish-survey-form">
		<form id="finish-survey" action="/choices" method="post">
			<input type="hidden" name="finish_survey" value="true">
			<input id="finish-survey-submit" type="submit" value="Finish survey">
		</form>	
		</div>
	</div>	

</div>	
