<div class = "justleft">
<a href="/"><img src="/img/logo-01.png"></a>
</div>

<div class="justright">
<%if logged_in?%>
  <a href='/users/<%=session[:user_id]%>'>Profile</a>
  <form action='/session' method='post'/>
    <input type="hidden" name="_method" value="DELETE">
    <input class="button" type='submit' value='Log Out'/>
  </form>
<%else%>
  <div><a href="/login">Login</a></div>
  <div><a href="/signup">Sign Up</a></div>
<%end%>
</div>