<form action="/derp" method="post">
  <label for="word">Word:</label><br/>
  <input type="text" name="word" id="word" value="" />
  <input type="submit" name="" id="" value="what is the word" />
</form>
