<% if logged_in? %>
  <p class="title">Hello <%=current_user.username%></p>
  <p><a href='/surveys/new'>Create a Survey</a></p>
  <p><a href='/surveys'>Take a Survey</a></p>
<%else%>
  <p class="title">Hello stranger, please <a href='/signup'>sign up</a> or <a href='/login'>login!</a><p
<%end%>